%h1 Images#index
- @images.each do |image|
  .row
    .col-xs-4
      = link_to( image_tag(  (data_image_url image), height: 200 ), image_url( image ) )
    .col-xs-8
      = "#{image.words.size} words are deteced."
      %ul
      - image.words[0..3].each do |word|
        %li= word.text
