<h1>Images#new</h1>
<p id="notice"><%= notice %></p>
<%= form_for(@image) do |f| %>
    <p>
        Picture: <%= f.file_field :data %>
    </p>
    <p>
        <%= f.submit "Submit" %>
    </p>
<% end %>
